body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #111122;
  color: white;
  
  
}

img{
  max-width: 100%;
}
.container{
  width: 97%;
  margin: auto;
  

}
header{
  background-image: url(../photo/dawn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /* jodi amra photor upor kono color er prolep dite cai tahole ata dite hobe*/
  background-color: rgba(0, 0, 0, 0.345);
  background-blend-mode: multiply;
}

.navber{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


.logo h3{
  font-size: 24px;
  margin: 20px 0;
}
.logo h3 span{
  font-weight: 100;
  font-size: 18px;
  
}

nav ul{
  display: flex;
  margin: 0 5 0 35px;
  padding: 0 0 0 0;
  list-style: none;
  gap: 12px;
  
  

}

/* nav ul li{
  text-decoration: none;
  margin: 0 0 0 40px;
  color:rgb(255, 255, 255)
  
} */

nav ul li a{
  font-weight: 400;
}
/* banner*/

.banner{
  padding: 100px 0;
  text-align: center;
  
}
.banner h4{
  font-size: 25px;
  font-weight: 400px;
  margin-bottom: 0;

} 
.banner span{
  height: 5px;
  width: 150px;
  display: inline-block;
  background-color: red;
  border-radius: 5px;
  
  
}
.banner h1{
  font-size: 40px;

}
.banner button{
  padding: 10px 25px;
  background-color: rgba(255, 0, 0, 0.664);
  /* background-color: transparent;
  border: 2px; */
  /* border-color: white; */
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  border: 0;
  border-radius: 50px;

  
}
.event-mail h3{
  text-align: center;
  font-size: 25px;
  margin-bottom: 0;
}
.event-mail span{
  height: 5px;
  width: 150px;
  /* jodi span maje na ase tahole disply block diye dibo er karon dane bame keyo oke capeni tai amon hoy */
  display: block;
  background-color: red;
  border-radius: 7px;
  margin: auto
  
}
.event{
  display: block;
  /* dui pase vag kore dite */
  justify-content: space-between;
  text-align: center;
  margin-top: 50px;

}
.event-item{
  /* 2 ta photo ke kotokhani gap dibo seta dite */
  width: 100%;
  padding: 0;
  text-align: center;
  
}
.event-item img{
  height: 450px;
  width: 100%;
  /* chobi lombate hoye gele  */
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 2px orange;
}
.event-item h5{
  font-size: 25px;
  margin: 20px 0 ;
}
.event-item p{}
.event-item button{
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  margin-bottom: 20px;
  border: 2;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
  
  
}

.event-item button:hover {
    transition-delay: 0s, 1s;
    color: #000000;
    box-shadow:
        0 0 10px #0ef,
        0 0 20px #0ef,
        0 0 40px #0ef,
        0 0 80px #0ef,
        0 0 160px #0ef;}

/* explor item  */

.explore-world {
  background-image: url(../photo/father.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  /* display: block; */
  display: flex;
  background-color: rgba(0, 0, 255, 0.614);
  background-blend-mode: multiply;
  background-attachment: fixed;
}
.explore-item{
  width: 100%;
  padding-right: 20px;
  padding-bottom: 0;
  padding-top: 0;
}
.explore-item.hide{
  width: 0;
}

.explore-item h3{
  font-size: 60px;
  margin-bottom: 0px;
}
.explore-item SPan {
  height: 5px;
  width: 250px;
  display: block;
  background-color: red;
  border-radius: 7px;
  margin: auto;
}
.explore-item P {
  margin: 50px 0 ;
}
.explore-item button{
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  
  border: 2px;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
  display: block;

}
.tour-main{
  display: block;
  margin: 80px 0;
  
}
.tul-item{
  padding: 20px;
}
.tul-item h4 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 10px;
}
.tul-item span{
 height: 5px;
  width: 100px;
  /* jodi span maje na ase tahole disply block diye dibo er karon dane bame keyo oke capeni tai amon hoy */
  display: block;
  background-color: red;
  border-radius: 7px;
  /* margin: auto; */
}
.tul-item p{
  font-size: 15px;
  margin: 20px 0;
}
.tul-item button{
  text-decoration: none;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  
  border: 2px;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
  display: block;
  margin-top: 10px;
}
.img1{
height: 350px;
object-fit: cover;
margin: 0 0 20px 0;
}


.img2{
height: 450px;
object-fit: cover;
margin: 0 0 20px 0;
}
.footer{
  background-color: #1C222A;
  text-align: center;
  padding: 20px 0 20px 0 ;
  
}
.footer h5{
  font-size: 18px;
  padding: 17px 0 17px 0;
  margin: 0;
}
.fab {
  border: 2px solid red;
  border-radius: 50px;
  padding: 2px;
}
.facebook1{ 
  height: 30px;
}
